<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<body>
    <div class="name">

        <div class="s1">
            <p>Presentacion</p>
        </div>

        <img src="../../../assets/yo.jpeg" alt="" srcset="">

    </div>
</body>