<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<body>

    <div class="name">

        <div class="acerca">
            <p class="titulo">Acerca de mi</p>
            <br>
            <p class="about">
                Mi nombre es Jonathan Espinosa Garcia, tengo 22, soy mexicano, papá de 2 gatos
                estudiante de ingenieria en sistemas, me gustan las güeritas, los tacos y 
                quedarme en mi casa siempre que puedo.  
            </p>
        </div>

        <div class="gustos">
            <p class="titulo">Mis hijos</p>
        </div>

        <div class="juegos">
            
            <div class="card">
                <img src="../../../assets/pelusa.JPEG" alt="" srcset="">
                <p>Pelusa</p>
            </div>
    
            <div class="card">
                <img src="../../../assets/botitas.PNG" alt="" srcset="">
                <p>Botitas</p>
            </div>
    
            <div class="card">
                <img src="../../../assets/pancho.jpeg" alt="" srcset="">
                <p>Pancho</p>
            </div>

        </div>

        <div class="gustos">
            <p class="titulo">Juegos favoritos</p>
        </div>

        <div class="juegos">
            
            <div class="card">
                <img src="../../../assets/sons.jpg" alt="" srcset="">
            </div>
    
            <div class="card">
                <img src="../../../assets/csgo.jpg" alt="" srcset="">
            </div>
            
            <div class="card">
                <img src="../../../assets/rocket.jpg" alt="" srcset="">
            </div>

        </div>

    </div>

</body>